.profile__back{
    width: 64px;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color:  #FBFBFB;
}

.profile__back__link{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #3369F3;
    background-image: url(../images/message_send.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: all .3s;
    opacity: 1;
    transform: rotate(180deg);
}

.profile__back__link:hover{
    opacity: 0.8;
}

.profile__content{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.profile__content__form{
    width: 510px;
}
.profile__content__header{
    margin-bottom: 60px;
}
.profile__content__avatar{
    background-color: #EFEFEF;
    margin-bottom: 21px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
}
.profile__content__avatar.editable:hover .profile__content__avatar__edit{
    opacity: 1;
    visibility: visible;
}
.profile__content__avatar__edit{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
}

.profile__content__name{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #1E1E1E;
}
.profile__content__data{
    margin-top: 0;
    list-style: none;
    padding: 0;
    width: 100%;
}
.profile__content__data:not(:last-child){
    margin-bottom: 50px;
}
.profile__content__row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.profile__content__row.form__label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.profile__content__row.form__label .form__error{
    left: auto;
    right: 0;
}
.profile__content__row.form__label.error{
    margin-bottom: 20px;
}

.profile__content__row:not(:last-child){
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;
}
.profile__content__row.form__label:not(:last-child){
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;
}

.profile__content__row__input{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    color: black;
}

.profile__content__row__input.disabled{
    pointer-events: none;
    color: #999999;
}

.profile__content__row__input:focus{
    outline: none;
}

.profile__content__row__control{
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    font-size: 13px;
    padding-left: 0;
    line-height: 13px;
    cursor: pointer;
    color: #3369F3;
}

.profile__content__row__control.red{
    color: #FF0000;
}